<style>
    table.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div *ngIf="boxes.length > 0" class="row row-cols-1 ">

    <div  class="card  mx-auto" style="width: 21rem;">
        
            <img [src]="'http://localhost:8080/api/image/'+laBox?.image" class="card-img-top" alt="{{ laBox?.nom }}"
                style="width: 20em;">
            <div class="card-body">
                <div class="card-text">
                <ul>
                    <h3 class="card-title text-center">Aliments</h3>
                    <div *ngFor="let aliments of laBox?.aliments">
                        <div>{{ aliments.quantite }} {{ aliments.nom }}</div>
                    </div>
                </ul>
                <h3 class="card-title text-center">Saveurs:</h3>
                <div class="card-title text-center">{{ laBox?.saveurs }}</div>
                <a routerLink="/nosboxes" class="btn btn-primary">Retour à la carte</a> <a>{{ laBox?.prix }}€</a>
            </div>